@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&family=Syne+Tactile&display=swap");

// color
$black: #2a2438;
$lightBlack: #352f44;
$grey: #5c5470;
$white: #dbd8e3;
$darkWhite: #a4a1ac;

// $black: #343434;
// $lightBlack: #1e6f5c;
// $grey: #29bb89;
// $white: #f6ed46;
// $darkWhite: #fff;

// $black: #5f9595;
// $lightBlack: #f0bc68;
// $grey: #c4d7d1;
// $white: #f5d1c3;
// $darkWhite: #ffb6a3;

// $black: #2c2b30;
// $lightBlack: #7d7b75;
// $grey: #4f4f51;
// $white: #d6d6d6;
// $darkWhite: #a3a09d;

// border
$border: 2px solid $white;

// mixin
@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-transform: capitalize;
  font-size: 1rem;
  transition: 0.3s ease-in-out all;
  color: $white;
}

p {
  line-height: 150%;
}

// animation
@keyframes widthUnderline {
  0% {
    width: 0;
    color: $white;
  }
  100% {
    width: 50%;
    background-color: $darkWhite;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}

// disable
input:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  color: $darkWhite;
}

// btn
.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: $white;
  border-radius: 1rem;
  color: $black;
  font-weight: bold;
  border: $border;
  cursor: pointer;
  &:hover {
    background: none;
    color: $white;
    box-shadow: 0 0 1rem rgba($color: $white, $alpha: 0.5);
  }
}

.btn-border {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: none;
  border-radius: 1rem;
  color: $white;
  font-weight: bold;
  border: $border;
  cursor: pointer;
  &:hover {
    background: $white;
    color: $black;
    box-shadow: 0 0 1rem rgba($color: $white, $alpha: 0.5);
  }
  &:hover i {
    color: $black;
  }
}

.btn-card {
  display: inline-block;
  padding: 0.5rem;
  background: $white;
  border-radius: 100%;
  font-weight: bold;
  border: $border;
  cursor: pointer;
  i {
    color: $black;
  }
  &:hover i {
    color: $white;
  }
  &:hover {
    background: none;
    color: $white;
    box-shadow: 0 0 1rem rgba($color: $white, $alpha: 0.5);
  }
}

// btn-menu
.btn-menu {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  display: none;
  span {
    width: 100%;
    height: 3px;
    background: $white;
    border-radius: 2px;
  }
}

.btn-menu.active {
  .topSpan {
    transform: rotate(135deg);
    margin: auto;
  }
  .centerSpan {
    transform: translateX(100px);
    position: absolute;
  }
  .bottomSpan {
    position: absolute;
    transform: rotate(-135deg);
  }
}

// line down
.line-down {
  font-size: 4.3rem;
  color: $white;
  font-weight: bold;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    border-radius: 1rem;
    z-index: -1;
    background: $darkWhite;
    box-shadow: 1px 1px 1rem rgba($color: $white, $alpha: 0.5);
  }
}

.lower-font {
  text-transform: lowercase;
  font-size: 2.875rem;
  color: $darkWhite;
}

.form-control {
  input,
  textarea {
    background: none;
    border: 1px solid $white;
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 100%;
    text-align: left;
  }
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: $black;
  }
}

body {
  background: $black;
}

section {
  min-height: 100vh;
  padding: 7% 5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $black;
  box-shadow: 0 2px 1rem rgba($color: $white, $alpha: 0.1);
  display: flex;
  align-items: center;
  padding: 1.2rem 5%;
  z-index: 999;

  .logo {
    font-family: "Syne Tactile", cursive;
    font-size: 1rem;
    font-weight: bolder;
    color: $white;
    i {
      font-size: 2rem;
    }
  }

  .navbar {
    margin-left: 2.5rem;
    a {
      margin: 0 1rem;
      color: $white;
      position: relative;
      &:hover::after {
        content: "";
        display: block;
        position: absolute;
        animation: widthUnderline 0.3s forwards;
        height: 3px;
        border-radius: 2px;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
      }
      &:hover {
        color: $darkWhite;
      }
    }
  }

  .icon {
    margin-left: auto;
    margin-right: 1rem;
    #search-btn {
      cursor: pointer;
      i {
        font-size: 1.9rem;
      }
      &:hover i {
        color: $darkWhite;
      }
    }
  }

  .profil-container {
    position: relative;
    i {
      font-size: 1.9rem;
      cursor: pointer;
      &:hover {
        color: $darkWhite;
      }
    }
    .profil-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      position: absolute;
      top: 100%;
      right: 0;
      background: $white;
      width: 20rem;
      padding: 1rem 0.5rem;
      border-radius: 0.5rem;
      .profil {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        .profil-img {
          img {
            object-fit: cover;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }
        }
        .profil-name {
          a,
          p,
          i {
            display: flex;
            align-items: center;
            color: $black;
            &:hover {
              color: $grey;
            }
          }
          p {
            font-size: 0.8rem;
            text-transform: none;
          }
        }
      }
      .logout {
        position: absolute;
        bottom: 10%;
        right: 1%;
        width: 50%;
        a,
        i {
          font-weight: bold;
          color: $black;
        }
        i {
          font-size: 1rem;
        }
        &:hover,
        &:hover i {
          color: $grey;
        }
      }
    }
    &:hover .profil-wrapper {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }

  .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: $black;
    height: 3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    input {
      width: 100%;
      height: 100%;
      padding: 1rem;
      color: $black;
      border-radius: 0.3rem;
      text-transform: none;
    }
    .searchBtn {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      i {
        font-size: 1.5rem;
      }
      &:hover i {
        color: $darkWhite;
      }
    }
  }
}

p {
  a {
    display: inline-block;
  }
  &:hover a {
    font-style: italic;
    margin-right: 0.2rem;
    color: $darkWhite;
  }
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  .content {
    width: 50%;
    h3 {
      font-size: 4.3rem;
      font-weight: bold;
      color: $darkWhite;
    }
    .p-home {
      line-height: 150%;
      padding-bottom: 2rem;
    }
  }
  .swiper {
    width: 22rem;
    .card-home {
      border-radius: 1rem;
      background: $white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;
      padding: 0.5rem;
      position: relative;
      .new {
        position: absolute;
        top: 5%;
        left: 0;
        padding: 0.3rem 0.5rem;
        border-radius: 0 0.3rem 0.3rem 0;
        background: $black;
        z-index: 2;
        color: $white;
      }
      .img {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 21rem;
        border-radius: 1rem;
        img {
          border-radius: 0.5rem;
          filter: drop-shadow(1px 1px 0.5rem $lightBlack);
          object-fit: cover;
          width: 100%;
        }
      }
      .content {
        position: relative;
        background: $darkWhite;
        padding: 1rem;
        border-radius: 1rem;
        width: 100%;
        h3 {
          color: $black;
          text-shadow: 1px 1px 2px $black;
          font-weight: bold;
          font-size: 1.5rem;
          margin-bottom: 0.2rem;
        }
        p {
          margin-top: 0.5rem;
          color: $grey;
          font-size: 0.9rem;
          font-weight: bold;
        }
        .btnContainer {
          position: absolute;
          right: 5%;
          bottom: 10%;
          a {
            i {
              color: $black;
            }
            &:hover i {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.heading {
  text-align: center;
  color: $white;
  font-weight: bold;
  position: relative;
  margin-bottom: 2.5rem;
  span {
    font-size: 2.5rem;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(50%);
      width: 50%;
      height: 15%;
      border-radius: 1rem;
      background: $darkWhite;
      box-shadow: 1px 1px 1rem rgba($color: $white, $alpha: 0.5);
    }
  }
}

.books {
  background: $black;
  .box {
    padding: 0.5rem;
    background: $white;
    width: 15rem;
    height: 22rem;
    border-radius: 0.5rem;
    overflow: hidden;
    .slide-img {
      overflow: hidden;
      border-radius: 0.5rem;
      width: 100%;
      img {
        transform: scale(1.1);
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        filter: drop-shadow(1px 1px 0.5rem $lightBlack);
      }
    }
    .detail-box {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      margin-top: 0.5rem;
      border-radius: 0.5rem;
      background: $darkWhite;
      transform: translateY(20%);
      .type {
        h3 {
          color: $black;
          font-size: 1.3rem;
          text-shadow: 1px 1px 2px $black;
        }
        p {
          margin: 0.1rem 0 0 0;
          color: $grey;
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
      .btnCard {
        right: 5%;
        bottom: 5%;
        margin: 0.5rem 0 0 auto;
      }
    }
    &:hover .detail-box {
      transform: translateY(-100%);
    }
    &:hover img {
      transform: scale(0.7) translateY(-25%);
    }
  }
}

.about {
  height: 100vh;
  .content-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    .img {
      flex: 1 1 25rem;
      img {
        width: 100%;
      }
    }
    .content {
      flex: 1 1 25rem;
      h3 {
        font-size: 4.3rem;
        color: $darkWhite;
        text-transform: none;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.cta {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: $black;
  .content {
    flex: 1 1 35rem;
    h3 {
      font-size: 4.3rem;
      z-index: 2;
      color: $darkWhite;
      .line-down {
        z-index: 1;
      }
      .lower-font {
        font-size: 4.3rem;
      }
    }
    p {
      margin: 1rem 0;
    }
    .alredy {
      font-size: 0.875rem;
      margin-top: 0.5rem;
      a {
        display: inline-block;
        font-size: 0.875rem;
        &:hover {
          color: $darkWhite;
          font-style: italic;
          padding-left: 2px;
        }
      }
    }
  }
  .img {
    flex: 1 1 35rem;
    img {
      width: 100%;
    }
  }
}

footer {
  background: $black;
  .box-container {
    padding: 1rem 5%;
    @include grid(20rem);
    .box {
      h3 {
        font-size: 2rem;
        padding: 1rem 0;
      }
      a {
        font-size: 0.9rem;
        color: $white;
        display: block;
        padding: 0.5rem 0;
        &:hover {
          color: $darkWhite;
          padding-left: 2px;
          font-style: italic;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    background: $black;
    border-top: $border;
    a {
      color: $darkWhite;
      &:hover {
        color: $white;
      }
    }
  }
}

.login {
  min-height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
      z-index: 99;
      background: $darkWhite;
      border-radius: 0.5rem 0 0 0.5rem;
      box-shadow: 0 5px 2rem rgba($color: $white, $alpha: 0.15);
      width: 25rem;
      padding: 2rem 3rem;
      overflow: hidden;
      h3 {
        color: $black;
        font-size: 2em;
        margin-bottom: 1.5rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px $black;
      }
      .field {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid rgba($color: $black, $alpha: 0.5);
        margin-bottom: 1.5rem;
        i {
          font-weight: 600;
          color: rgba($color: $black, $alpha: 0.5);
          font-size: 1.3rem;
          margin-right: 0.5rem;
          padding-bottom: 5px;
        }
        input {
          border: none;
          outline: none;
          background: none;
          width: 100%;
          font-size: 1rem;
          padding-bottom: 5px;
          color: $black;
          font-weight: 600;
          text-transform: none;
          &::placeholder {
            color: $lightBlack;
            opacity: 0.6;
          }
          &:-webkit-autofill,
          &:-webkit-autofill:hover {
            -webkit-text-fill-color: $black;
          }
        }
        .btn-eye,
        .btn-eye-signup,
        .btn-eye-conf {
          cursor: pointer;
          &:hover i {
            color: $white;
          }
        }
        &.active {
          border-bottom: 2px solid $black;
        }
        &.active i {
          color: $black;
        }
        // radio
        .form-control {
          font-weight: 600;
          color: rgba($color: $black, $alpha: 0.5);
          font-size: 0.9em;
          line-height: 1.1;
          display: grid;
          grid-template-columns: 1rem auto;
          gap: 1rem;
        }
        .form-control + .form-control {
          // margin-top: 1em;
          margin: 0 2.3rem;
        }
        .form-control:focus-within {
          color: $black;
        }
        input[type="radio"] {
          /* Add if not using autoprefixer */
          -webkit-appearance: none;
          /* Remove most all native input styles */
          appearance: none;
          /* For iOS < 15 */
          background-color: $grey;
          /* Not removed via appearance */
          margin: 0;

          font: inherit;
          color: currentColor;
          width: 1.15rem;
          height: 1.15rem;
          border: 0.15rem solid currentColor;
          border-radius: 50%;
          transform: translateY(-0.075rem);
          display: grid;
          place-content: center;
        }

        input[type="radio"]::before {
          content: "";
          width: 0.65rem;
          height: 0.65rem;
          border-radius: 50%;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1rem 1rem var(--form-control-color);
          /* Windows High Contrast Mode */
          background-color: CanvasText;
        }

        input[type="radio"]:checked::before {
          transform: scale(1);
          color: $black;
        }

        input[type="radio"]:focus {
          outline: max(0.1rem, 0.15rem) solid currentColor;
          outline-offset: max(0.1rem, 0.15rem);
        }
      }
      &.signup-box {
        border-radius: 0.5rem;
      }
    }
  }

  .signin-form.hide .signin-box {
    transform: translateX(100%);
    visibility: hidden;
  }
  .signin-form.hide .signin-boxImg {
    transform: translateX(-100%);
    visibility: hidden;
  }
  .signin-form.show .signin-box,
  .signin-form.show .signin-boxImg {
    transform: translateX(0);
    visibility: visible;
  }

  .signup-form .signup-box {
    transform: translateX(-100%);
    visibility: hidden;
  }
  .signup-form .signup-boxImg {
    transform: translateX(100%);
    visibility: hidden;
  }
  .signup-form.show .signup-boxImg,
  .signup-form.show .signup-box {
    transform: translateX(0);
    visibility: visible;
  }
}

.box-img {
  z-index: 88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $darkWhite;
  box-shadow: 0 5px 1rem rgba($color: $white, $alpha: 0.15);
  padding: 1rem 2rem;
  img {
    max-width: 20rem;
  }
  .link-slide {
    display: flex;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    p {
      color: $lightBlack;
      font-size: 0.9rem;
      font-weight: bold;
    }
    span {
      color: $black;
      font-weight: 600;
      margin-left: 5px;
      cursor: pointer;
      &:hover {
        color: $grey;
      }
    }
  }
  &.signin-boxImg {
    border-radius: 0.5rem;
  }
  &.signup-boxImg {
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.detailBuku {
  .detail-container {
    background: $grey;
    border-radius: 1rem;
    padding: 1rem;
    .detail-wrapper {
      @include grid(22rem);
      .detail-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $white;
        border-radius: 0.5rem;
        padding: 0.5rem;
        img {
          width: 100%;
          border-radius: 0.5rem;
          filter: drop-shadow(1px 1px 0.5rem $grey);
        }
      }
      .detail-info {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 0.9rem;
          margin: 0.5rem 0;
          font-weight: 500;
        }
      }
      .detail-pinjam {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        border: $border;
        width: 100%;
        height: 10rem;
        border-radius: 0.5rem;
        padding: 0.5rem;
        .tgl {
          display: flex;
          justify-content: space-between;
        }
        p {
          font-weight: bold;
          margin-bottom: 0.3rem;
          span {
            color: $darkWhite;
          }
        }
      }
    }
  }
}

.detail-profil {
  .detail-profil-container {
    .detail-profil-wrapper {
      border: $border;
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      .detail-profil-left {
        .form-control {
          display: flex;
          align-items: center;
          border: 1px solid $white;
          border-radius: 0.5rem;
          padding: 0.3rem;
          input {
            border: none;
            outline: none;
          }
          i {
            cursor: pointer;
            &:hover {
              color: $darkWhite;
            }
          }
        }
        flex: 1 1 15rem;
        .detail-profil-img {
          width: 100%;
          border-radius: 0.5rem;
          object-fit: cover;
          overflow: hidden;
          img {
            width: 25rem;
            height: 25rem;
            border-radius: 0.5rem;
            object-fit: cover;
          }
        }
      }
      .detail-profil-right {
        flex: 1 1 30rem;
        .content {
          h2 {
            font-size: 1.5rem;
            font-weight: bold;
          }
          table {
            margin-bottom: 2rem;
            tr {
              td {
                font-size: 1rem;
                color: $darkWhite;
                padding-top: 1rem;
                padding-right: 1.5rem;
                input {
                  padding: 0.5rem;
                }
                .field {
                  display: flex;
                  align-items: center;
                  border: 1px solid $white;
                  padding: 0.5rem;
                  border-radius: 0.5rem;
                  // radio
                  .form-control {
                    font-weight: 600;
                    color: rgba($color: $white, $alpha: 0.5);
                    font-size: 0.9em;
                    line-height: 1.1;
                    display: grid;
                    grid-template-columns: 1rem auto;
                    gap: 1rem;
                    align-items: center;
                  }
                  .form-control + .form-control {
                    // margin-top: 1em;
                    margin: 0 2.3rem;
                  }
                  .form-control:focus-within {
                    color: $white;
                  }
                  input[type="radio"] {
                    /* Add if not using autoprefixer */
                    -webkit-appearance: none;
                    /* Remove most all native input styles */
                    appearance: none;
                    /* For iOS < 15 */
                    background-color: $grey;
                    /* Not removed via appearance */
                    margin: 0;

                    font: inherit;
                    color: currentColor;
                    width: 1.15rem;
                    height: 1.15rem;
                    border: 0.15rem solid currentColor;
                    border-radius: 50%;
                    transform: translateY(-0.075rem);
                    display: grid;
                    place-content: center;
                  }

                  input[type="radio"]::before {
                    content: "";
                    width: 0.65rem;
                    height: 0.65rem;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 120ms transform ease-in-out;
                    box-shadow: inset 1rem 1rem var(--form-control-color);
                    /* Windows High Contrast Mode */
                    background-color: CanvasText;
                  }

                  input[type="radio"]:checked::before {
                    transform: scale(1);
                    color: $white;
                  }

                  input[type="radio"]:focus {
                    outline: max(0.1rem, 0.15rem) solid currentColor;
                    outline-offset: max(0.1rem, 0.15rem);
                  }
                }
              }
              .kontak {
                padding-right: 3rem;
                .form-control {
                  width: 19rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.detail-peminjam {
  .detail-pinjam-kosong {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .detail-container {
    background: $grey;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    .detail-wrapper {
      .box {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .box-img {
          padding: 0.5rem;
          flex: 1 1 8rem;
          border-radius: 0.5rem;
          object-fit: cover;
          img {
            border-radius: 0.5rem;
            object-fit: cover;
            width: 100%;
          }
        }
        .detail-box {
          flex: 1 1 40rem;
          h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        .setatus-box {
          margin-top: 1rem;
          flex: 1 1 20rem;
          .tgl-box {
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            gap: 3rem;
            .ket-tgl {
              font-size: 0.95rem;
              margin-bottom: 0.5rem;
            }
            .tgl {
              font-weight: bold;
              font-size: 1.1rem;
            }
          }
          h2 {
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 0.7rem;
          }
          .btn-kembali {
            display: flex;
            gap: 1rem;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// mediaquery
@media (max-width: 1200px) {
  .header {
    padding: 1.5rem;
  }
  section {
    padding: 10% 1.5rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .header {
    .profil-wrapper {
      margin-right: 1.5rem;
      .profil-box {
        left: 100%;
      }
    }
    .navbar {
      position: absolute;
      top: 99%;
      left: 20%;
      right: 0;
      height: 100vh;
      border-top: $border;
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
      color: $white;
      background: rgba($color: $lightBlack, $alpha: 0.7);
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      &.active {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      }
      a {
        display: block;
        padding: 2rem 1rem;
        border-bottom: 1px solid $darkWhite;
        &:hover::after {
          display: none;
        }
      }
    }
  }

  .swiper img {
    width: 60%;
  }

  .btn-menu {
    display: inherit;
    order: 2;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 0.7em;
  }

  .header {
    .navbar {
      a {
        margin: 0 0.5rem;
      }
    }
  }

  section {
    padding-top: 19%;
  }

  .home {
    .content {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .modal {
    .modal-box {
      width: 30rem;
      height: 30rem;
      .modal-content {
        .img {
          width: 50%;
        }
        .content {
          h3 {
            font-size: 4.3rem;
            margin-bottom: 0.5rem;
          }
          p {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .form-container {
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    top: 15%;
    .box-img {
      img {
        width: 50%;
      }
    }
  }

  .books {
    min-height: 55vh;
  }

  .profil-container {
    .profil-wrapper {
      .profil-box {
        left: -800%;
      }
    }
  }
}
